{{#if isFavourite}}

  <button class="btn-heart" style="color:#ff3030;background-color:transparent"><i class="material-icons first">favorite</i></button>

{{else}}

  <button class="btn-heart second" {{action 'addToFavourites' book}}><i class="material-icons special"><span>favorite_border</span></i></button>

{{/if}}

<script>
 $(".second").click(function() {
   $("span").remove();
   $( ".special" ).append( "favorite" );
   $(this).css('color','#ff3030');
   $(this).css('background-color','transparent');
   $(this).off("click");
 })
</script>
