
/* Application Page */
body {
  margin: 0!important;
  font-size: 100%;
}

.application {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
}

#main {
  margin: 0;
  height: 100%;
  padding: 3%;
  background: url('/resources/images/books.jpg') repeat center center fixed;
  text-align: justify;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainTitle {
  margin-left: 10%;
  padding-left: 7%;
  font-family: Ewert;
  font-size: 4em;
  color: rgba(255,255,255,.9);
  max-width: 80%;
  background-color: rgba(0,0,0,.7)
}

/* Backgrounds */
#book, #index {
  background: url('/resources/images/paper.jpg') repeat center center fixed;
}

#admin {
  background: url('/resources/images/plank.jpg') no-repeat center center fixed;
}

#book, #index, #admin {
  text-align: justify;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 2% -4% -5% -4%;
  width: 107%;
  padding: 5% 10% 0 10%;
  min-height: 1000px;
}



/* Other elements */
img {
  display: inline-block;
  margin: 1%;
  margin-top: 0;
  height: 420px;
  width: 300px;
  border: solid #381313 5px;
  border-radius: 5px;
  padding: 5px;
  float: left;
}


/* Index Page Elements */
.btn-admin {
  float: left;
  font-size: 18px;
  color: #381313;
  padding: 3px;
  border: 2px solid #381313;
  border-radius: 5px;
  margin-bottom: 2%;
}

.btn-admin:hover {
  background-color: #381313;
  color: white;
  text-decoration: none;
}

#btn-admin2 {
  float: right;
}


/* Book Page Elements */
.btn-home2 {
  float: left;
  font-size: 18px;
  color: #381313;
  padding: 3px;
  border: 2px solid #381313;
  border-radius: 5px;
}

.btn-home2:hover {
  background-color: #381313;
  color: white;
  text-decoration: none;
}

.col-md-3 {
  padding: 3%;
  padding-top: 0;
}

.col-md-8 {
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 1.4em;
  font-size: 18px;
  padding: 3%;
}

.title-book {
  font-weight: bold;
  font-size: 24px;
}

.author {
  font-style: italic;
  font-size: 16px;
}

.btn-heart {
  font-size: 12px;
  background-color: #381313;
  border-color: #381313;
  color: white;
  border-radius: 55%;
  padding: 1.4% 1.2% 0 1.2%;
  float: right;
  position: relative;
  margin-top: -10%;
}

.btn-heart:hover {
  background-color: white;
  color: #381313;
}

.btn-heart:active {
  background-color: #381313;
  color: #fff;
}

.btn-heart:focus {
  outline:0;
}

#book-title {
  font-weight: bold;
  font-size: 1.2em;
}

.content {
  font-size: 18px;
}

.review-title {
  font-weight: bold;
  font-size: 20px;
}

.review-author {
  font-style: italic;
  font-size: 16px;
}

.material-icons {
  font-size: 2.2em;
}

.review-element {
  padding-bottom: 10%;
}

.row2 {
  margin-top: 5%;
  margin-left: 2%;
}

.row, .row2 {
  overflow: scroll;
}

/* Add Review Form */
.ember-text-field, select, textarea {
  width: 300px;
}

#content-review {
  min-height: 100px;
}

.btn-new-review {
  float: left;
  font-size: 18px;
  color: #381313;
  padding: 3px 6px;
  border: 2px solid #381313;
  background-color: transparent;
  border-radius: 5px;
}

.btn-new-review:hover {
  background-color: #381313;
  color: white;
  text-decoration: none;
}

/* Admin Page */
#admin-image {
  border-color: rgba(255,255,255,0.7);
  display: inline-block;
}

.btn-home {
  float: left;
  font-size: 18px;
  color: white;
  padding: 3px;
  border: 2px solid white;
  border-radius: 5px;
}

.btn-home:hover {
  background-color: white;
  color: #381313;
  text-decoration: none;
}

.btn-edit {
  float: middle;
  font-size: 18px;
  background-color: transparent;
  margin-left: 37%;
  color: white;
  padding: 3px;
  border: 2px solid white;
  border-radius: 5px;
}

.btn-edit:hover {
  background-color: white;
  color: #381313;
  text-decoration: none;
}

.add-book {
  margin-left: 39%;
}

.btn-add {
  margin-top: 40px;
  margin-left: 11%;
}
