.img {
  height: 200px;
  width: 140px;
  border: solid #381313 5px;
  border-radius: 5px;
  padding: 3px;
}

#summary {
  font-size: 12px;
  background-color: rgba(255, 255, 255, .8);
  font-family: Roboto Slab;
  color: #331200;
  padding: 10px;
}

#main {
  margin: 0;
  padding: 20px;
  background-color: gray;
  background: url('/resources/images/books.jpg') repeat center center fixed;
  text-align: justify;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#admin {
  background: url('/resources/images/lights-in-dark.jpg') no-repeat center center fixed;
  text-align: justify;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 105%;
  width: 100%;
  margin-top: -50px;
  padding: 5% 5% 0 5%;
}

#book, #index {
  background: url('/resources/images/paper.jpg') no-repeat center center fixed;
  text-align: justify;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200%;
  width: 100%;
  margin-top: -50px;
  padding: 5% 5% 0 5%;
  margin-bottom: 50px;
}

.btn-admin {
  float: right;
  color: white;
  border-radius: 5px;
}

.btn-admin:hover {
  color: #35383f;
  text-decoration: none;
}

body {
  margin: 0;
}

.application {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
}


#mainTitle {
  padding: 0;
  padding-left: 20px;
  font-family: Ewert;
  font-size: 32px;
  color: rgba(255,255,255,.9);
  max-width: 80%;
  background-color: rgba(0,0,0,.7)
}

.glyph {
  display: inline-block;
  height:13px;
  width:13px;
  font-size:13px;
  text-align: center;
  margin-top: -5px;
  padding: 0;
  -webkit-filter: grayscale(1000%);
}

#book-rating {
  display: inline-block;
}

.col {
  display: inline-block;
}

.material-icons {
  font-size: 14px;
}
