<div id="admin" class="content">

  {{#link-to 'index' class="btn-home"}}HOME{{/link-to}}<br><br>

  <div class="row">
    {{#each model.books as |book|}}
      <div class="col-md-3">
        <img id="admin-image" src={{book.image}}><br><br>
      </div>
    {{/each}}
  </div>
  <div class="row">
    {{#each model.books as |book|}}
      <div class="col-md-3">
        {{edit-book book=book edit='edit' class="btn-tile"}}
      </div>
    {{/each}}
  </div><br><br>

  {{new-book saveBook='saveBook'}}<br><br><br><br>

</div>
