<div id="admin" class="content">

  {{#link-to 'index' class="btn-home"}}HOME{{/link-to}}<br><br>

  <div class="row">
    <div class="col-md-12">
      {{#each model.books as |book|}}
        <div id="book-block">
          {{#link-to 'book' book.id}}<img id="admin-image" src={{book.image}}>{{/link-to}}
          {{edit-book book=book edit='edit'}}
        </div>
      {{/each}}
    </div>
  </div>


  <div class="end-element">
    {{new-book saveBook='saveBook'}}
  </div>
</div>
