<div id="admin">
  {{#each model.books as |book|}}
    <div clas="tile">
      {{book.title}} by {{book.author}}
      {{edit-book book=book edit='edit' class="btn-tile"}}
    </div>
  {{/each}}
    <br><br>
  {{new-book saveBook='saveBook' class="btn-tile"}}

</div>something
