<div id="index">
  <br>
  <button class="btn-admin">{{#link-to 'admin' class="btn-admin"}}ADMIN{{/link-to}}</button>
  <br><br>
{{#each model as |book|}}
  <table>
    <tr>
      <td>{{#link-to 'book' book.id}}<img class="img" src={{book.image}}>{{/link-to}}</td>
      <td id="displayContent">
        <tr>{{book.title}}</tr>
        <tr>by {{book.author}}</tr>
        <tr><p id="summary"><{{book.summary}}</p></tr>
      </td>
    </tr>
  </table>
  <br><br>
{{/each}}

<br><br>


</div>
