<div id="index">
  <div class="row">
    {{#link-to 'favourites' class="btn-admin"}}FAVORITE BOOKS{{/link-to}}
    {{#link-to 'admin' class="btn-admin" id="btn-admin2"}}ADMIN{{/link-to}}
  </div><br><br>

<div class="row">
  <div class="col-md-12">
    {{#each  (await model.books) as |book|}}
      <div class="book-block">
        <div id="star-row">
          {{books-rating  book.reviews}}
        </div>
        {{#link-to 'book' book.id}}<img src={{book.image}}>{{/link-to}}
      </div>
    {{/each}}
  </div>
</div>

<div class="end-element">
</div>

</div>
