<div id="index">
{{#link-to 'admin' class="btn-admin"}}ADMIN{{/link-to}}<br><br>


{{#each model as |book|}}

        {{#link-to 'book' book.id}}<img src={{book.image}}>{{/link-to}}
        <!-- {{book-rating book=book}} -->

{{/each}}


</div>
