<div id="index">
  <div class="row">
    {{#link-to 'favourites' class="btn-admin"}}FAVORITE BOOKS{{/link-to}}
    {{#link-to 'admin' class="btn-admin" id="btn-admin2"}}ADMIN{{/link-to}}
  </div><br><br>

<div class="row">
  <div class="col-md-12">
    {{#each model as |book|}}
      <div id="book-block">
        <div id="star-row">{{book-rating book=book}}</div>
        {{#link-to 'book' book.id}}<img src={{book.image}}>{{/link-to}}
      </div>
    {{/each}}
  </div>
</div>

</div>
