<div id="index">
<h4>Pick a book from the list to see more details:</h4>

{{#each model as |book|}}
  <table>
    <tr>
      <td><img class="img" src={{book.image}}></td>
      <td id="displayContent">
        <tr>{{book.title}}</tr>
        <tr>by {{book.author}}</tr>
        <tr><p id="summary"><{{book.summary}}</p></tr>
      </td>
    </tr>
  </table>
  <br><br>
{{/each}}
</div>

{{#link-to 'admin'}}ADMIN{{/link-to}}
